#!/bin/bash
openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/ssl/nginx-selfsigned_jenkins.key -out /etc/ssl/nginx-selfsigned_jenkins.crt <<EOF
US
New York
New York City
Bouncy Castles, Inc.
Ministry of Water Slides
{{ ansible_host }}
iaroslav.davydiak@globallogic.com
EOF
